@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Improvements</title>
  
    <!-- Bootstrap -->

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    @*<link href="css/site.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.min.css">
    <!-- =======================================================
      Theme Name: Company
      Theme URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
    <!--This is start of the beginning footer -->
    <div class="container my-5 p-5 z-depth-1 d-md-inline-flex" style="justify-content:center">


        <!--Section: Content-->
        <section class="dark-grey-text">

            <!-- Section heading -->
            <h2 class="text-center font-weight-bold mb-4 pb-2">Why is it so great?</h2>
            <!-- Section description -->
            <p class="text-center lead grey-text mx-auto mb-5">
                Your house is our home!
            </p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 mb-md-0 mb-5">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-2 col-md-3 col-2">
                            <i class="fas fa-bullhorn blue-text fa-2x"></i>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-lg-10 col-md-9 col-10">
                            <h4 class="font-weight-bold">Marketing</h4>
                            <p class="grey-text">
                                Great Price, Great Value!
                            </p>
                            <a class="btn btn-primary btn-sm">Learn more</a>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 mb-md-0 mb-5">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-2 col-md-3 col-2">
                            <i class="fas fa-house-damage"></i>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-lg-10 col-md-9 col-10">
                            <h4 class="font-weight-bold">Customization</h4>
                            <p class="grey-text">
                                The best way to get a house improvement quote
                            </p>
                            <a class="btn btn-pink btn-sm">Learn more</a>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-2 col-md-3 col-2">
                            <i class="fas fa-tachometer-alt purple-text fa-2x"></i>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-lg-10 col-md-9 col-10">
                            <h4 class="font-weight-bold">Support</h4>
                            <p class="grey-text">
                                Save your time, money and energy
                            </p>
                            <a class="btn btn-purple btn-sm">Learn more</a>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Content-->


    </div>

    <!-- THis is the Calculator ZONE-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <div class="container d-md-inline block">
        <!-- multistep form -->
        <form id="msform" style="display:block">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Add a Project</li>
                <li>Add some Details</li>
                <li>Your Quote...</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Add your Project</h2>
                <h3 class="fs-subtitle">This is step 1</h3>
                <input type="text" name="email" placeholder="Project Name" />
                <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Social Profiles</h2>
                <h3 class="fs-subtitle">Step 2</h3>
                <div class="col-xs-6 d-md-inline">
                    <select class="form-control" name="select1" id="select1">
                        <option value="1">Bathroom</option>
                        <option value="2">Roof</option>
                        <option value="3">Kitchen</option>
                        <option value="4">Floor</option>
                        <option value="4">Walls</option>
                    </select>
                </div>
                <div class="col-xs-6">
                    <select class="form-control" name="select2" id="select2">
                        <option value="1">10 X 20</option>
                        <option value="1">40 X 30</option>
                        <option value="1">30 X 30</option>
                        <option value="2">40 X 40</option>
                        <option value="2">50 X 40</option>
                        <option value="2">40 X 50</option>

                    </select>
                </div>
                <input type="button" name="addData" placeholder="Add Dimensions" />
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Your Quote...</h2>
                <h3 class="fs-subtitle">Almost Done!</h3>

                <textarea name="address" placeholder="Calculator Goes Here"></textarea>
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="submit" name="submit" class="submit action-button" value="Submit" />
            </fieldset>
        </form>
      

    </div>

    <script>
        //jQuery time
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches

        $(".next").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({
                opacity: 0
            }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50) + "%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'transform': 'scale(' + scale + ')',
                        'position': 'absolute'
                    });
                    next_fs.css({
                        'left': left,
                        'opacity': opacity
                    });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".previous").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.animate({
                opacity: 0
            }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1 - now) * 50) + "%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'left': left
                    });
                    previous_fs.css({
                        'transform': 'scale(' + scale + ')',
                        'opacity': opacity
                    });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".submit").click(function () {
            return false;
        })


</script>


            @*//< !--This is start of the Pricing-- >*@
<div class='price'>
    <div class="pricing-wrapper clearfix">
        <!-- Titulo -->
        <h1 class="pricing-table-title">Price Table <a href="http://creaticode.com">Creaticode.com</a></h1>

        <div class="pricing-table">
            <h3 class="pricing-title">Basic</h3>
            <div class="price">$60<sup>/ mes</sup></div>
            <!-- Lista de Caracteristicas / Propiedades -->
            <ul class="table-list">
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
            </ul>
            <!-- Contratar / Comprar -->
            <div class="table-buy">
                <p>$60<sup>/ mes</sup></p>
                <a href="#" class="pricing-action">Comprar</a>
            </div>
        </div>

        <div class="pricing-table recommended">
            <h3 class="pricing-title">Premium</h3>
            <div class="price">$100<sup>/ mes</sup></div>
            <!-- Lista de Caracteristicas / Propiedades -->
            <ul class="table-list">
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
            </ul>
            <!-- Contratar / Comprar -->
            <div class="table-buy">
                <p>$100<sup>/ mes</sup></p>
                <a href="#" class="pricing-action">Comprar</a>
            </div>
        </div>

        <div class="pricing-table">
            <h3 class="pricing-title">Ultimate</h3>
            <div class="price">$200<sup>/ mes</sup></div>
            <!-- Lista de Caracteristicas / Propiedades -->
            <ul class="table-list">
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
                <li>10  <span>Contractor</span></li>
            </ul>
            <!-- Contratar / Comprar -->
            <div class="table-buy">
                <p>$200<sup>/ mes</sup></p>
                <a href="#" class="pricing-action">Comprar</a>
            </div>
        </div>
    </div>
</div>

                <script>
                    var $select1 = $('#select1'),
                        $select2 = $('#select2'),
                        $options = $select2.find('option');

            $select1.on('change', function () {
                        $select2.html($options.filter('[value="' + this.value + '"]'));
                }).trigger('change');

    </script>


 


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <script src="jquery-3.1.0.js"></script>
    <script src="js/jquery-migrate.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>



</body>

</html>
