
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Improvements</title>

    <!-- Bootstrap -->

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    @*<link href="css/site.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">*@
    @*<link rel="stylesheet" href="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.min.css">*@
  
</head>

<body>
    <div class="container my-5">
        <!--Section: Content-->
        <section class="dark-grey-text  ">

            <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4">Features</h6>
            <!-- Section heading -->
            <div class="jumbotron hero-nature">
                <h1 class="hero-title">Our Services!</h1>
            </div>

            <!--First row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-3 mb-4">

                    <!-- Card -->
                    <a href="#!" class="card hoverable d-block">
                        <div class="text-white d-flex h-100 mask blue-gradient-rgba">

                            <!-- Card content -->
                            <div class="card-body my-4">

                                <p><i class="fas fa-tablet-alt fa-2x text-muted"></i></p>
                                <h5 class="black-text mb-0">Save Time Online!</h5>

                            </div>
                        </div>
                    </a>
                    <!-- Card -->

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-3 mb-4">

                    <!-- Card -->
                    <a href="#!" class="card hoverable">

                        <!-- Card content -->
                        <div class="card-body my-4">

                            <p><i class="fas fa-cogs fa-2x text-muted"></i></p>
                            <h5 class="black-text mb-0">Customize your Project</h5>

                        </div>

                    </a>
                    <!-- Card -->

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-3 mb-4">

                    <!-- Card -->
                    <a href="#!" class="card hoverable">

                        <!-- Card content -->
                        <div class="card-body my-4">

                            <p><i class="fas fa-recycle fa-2x text-muted"></i></p>
                            <h5 class="black-text mb-0">Save Energy and Reuse</h5>

                        </div>

                    </a>
                    <!-- Card -->

                </div>
                <!--Grid column-->

            </div>
            <!--First row-->

        </section>

    </div>

    @*Attempted Calculator Front End*@
    
    <div id="app">
        <div>
            
            <form-wizard v-on -complete="onComplete"
                         shape="tab"
                         color="#9b59b6">
                <tab-content title="Personal details"
                             icon="ti-user">
                    My first tab content
                </tab-content>
                <tab-content title="Additional Info"
                             icon="ti-settings">
                    My second tab content
                </tab-content>
                <tab-content title="Last step"
                             icon="ti-check">
                    Yuhuuu! This seems pretty damn simple
                </tab-content>
            </form-wizard>
        </div>
    </div>
    <script>
        Vue.use(VueFormWizard)
new Vue({
 el: '#app',
 methods: {
  onComplete: function(){
      alert('Yay. Done!');
   }
  }
})
    </script>
    <!-- THis is the Calculator ZONE-->
    <div class="row">
        <div class="col-md-4 col-centered" id="calchtml">
            <form asp-action="Create">
                <div>
                    <input class="pricing-title" type="text" id="projName" placeholder="Project Name" />
                </div>
                <div>

                    <input type="text" id="field1" placeholder="Length" />
                    <input type="text" id="field2" placeholder="Breadth" />
                    <input type="text" id="field3" placeholder="Rise" />
                    <input type="text" id="field4" placeholder="Run" />
                    <input type="text" id="field5" placeholder="Price" />
                    <button id="click">Calculate</button>

                    <p id="demo"> </p>

                    <script type="text/javascript">
                        let globalTotal = 0.0; //This variable is me trying to find out why it's not displaying properly.
                        let button = document.getElementById("click");
                        button.addEventListener("click", (event) => {
                            event.preventDefault();
                            finalRoofCalculation();
                        })

                        function finalRoofCalculation(event) {
                            var field1 = document.getElementById("field1").value;
                            var field2 = document.getElementById("field2").value;
                            var field3 = document.getElementById("field3").value;
                            var field4 = document.getElementById("field4").value;
                            var field5 = document.getElementById("field5").value;
                            field1 = parseFloat(field1);
                            field2 = parseFloat(field2);
                            field3 = parseFloat(field3);
                            field4 = parseFloat(field4);
                            field5 = parseFloat(field5);

                            var shingleCoverage = 33.3; //This needs to be set by the user somewhere, or pulled from the database.
                            var roofPitch = parseFloat(1 + Math.sqrt(field3 ^ 2 + field4 ^ 2) / 12);
                            var roofArea = parseFloat(field1 * field2 * roofPitch);
                            var shingleBundles = parseFloat(Math.ceil(roofArea / shingleCoverage));

                            let total = shingleBundles * field5;
                            
                            //console.log(total);
                            let totalBox = document.getElementById("totalBox");
                            totalBox.value = total;
                            console.log(total);
                        }
                        
                    </script>

                    <div id="totalArea">The total should be 
                        <input id="totalBox" type="text" /> 
                    </div> 

                    <div class="col-xs-6 d-md-inline">
                        <select class="form-control" name="select1" id="select1">
                            <option value="1">Bathroom</option>
                            <option value="2">Roof</option>
                            <option value="3">Kitchen</option>
                            <option value="4">Floor</option>
                            <option value="4">Walls</option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <select class="form-control" name="select2" id="select2">
                            <option value="1">10 X 20</option>
                            <option value="1">40 X 30</option>
                            <option value="1">30 X 30</option>
                            <option value="2">40 X 40</option>
                            <option value="2">50 X 40</option>
                            <option value="2">40 X 50</option>

                        </select>
                        @*This button should save and send to database*@
                        <button type="submit" class="btn-slide">Save and Submit</button>
                    </div>


                </div>
            </form>
        </div>
    </div>

    <script>
        //jQuery time
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches

        $(".next").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({
                opacity: 0
            }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50) + "%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'transform': 'scale(' + scale + ')',
                        'position': 'absolute'
                    });
                    next_fs.css({
                        'left': left,
                        'opacity': opacity
                    });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".previous").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.animate({
                opacity: 0
            }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1 - now) * 50) + "%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'left': left
                    });
                    previous_fs.css({
                        'transform': 'scale(' + scale + ')',
                        'opacity': opacity
                    });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".submit").click(function () {
            return false;
        })


    </script>


    @*//< !--This is start of the Pricing-- >*@
    <div class='price'>
        <div class="pricing-wrapper clearfix">
            <!-- Titulo -->
            <h1 class="pricing-table-title">Get Started with Premium Features </h1>

            <div class="pricing-table">
                <h3 class="pricing-title">Basic</h3>
                <div class="price">$60<sup>/ mes</sup></div>
                <!-- Lista de Caracteristicas / Propiedades -->
                <ul class="table-list">
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                </ul>
                <!-- Contratar / Comprar -->
                <div class="table-buy">
                    <p>$60<sup>/ mes</sup></p>
                    <a href="#" class="pricing-action">Buy Now!</a>
                </div>
            </div>

            <div class="pricing-table recommended">
                <h3 class="pricing-title">Premium</h3>
                <div class="price">$19.99<sup>/ month</sup></div>
                <!-- Lista de Caracteristicas / Propiedades -->
                <ul class="table-list">
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                </ul>
                <!-- Contratar / Comprar -->
                <div class="table-buy">
                    <p>$69.99<sup>/ mes</sup></p>
                    <a href="#" class="pricing-action">Buy Now!</a>
                </div>
            </div>

            <div class="pricing-table">
                <h3 class="pricing-title">Ultimate</h3>
                <div class="price">$200<sup>/ month</sup></div>
                <!-- Lista de Caracteristicas / Propiedades -->
                <ul class="table-list">
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                    <li>10  <span>Contractor</span></li>
                </ul>
                <!-- Contratar / Comprar -->
                <div class="table-buy">
                    <p>$100<sup>/ month</sup></p>
                    <a href="#" class="pricing-action">Buy Now!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3 mb-5">

    </div>
    <script>
        var $select1 = $('#select1'),
            $select2 = $('#select2'),
            $options = $select2.find('option');

        $select1.on('change', function () {
            $select2.html($options.filter('[value="' + this.value + '"]'));
        }).trigger('change');

    </script>





    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <script src="jquery-3.1.0.js"></script>
    <script src="js/jquery-migrate.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>



</body>

</html>
