@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Company-HTML Bootstrap theme</title>

  <!-- Bootstrap -->
  
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/animate.css">
  <link href="css/prettyPhoto.css" rel="stylesheet">
  <link href="css/site.css" rel="stylesheet" />
  <!-- =======================================================
    Theme Name: Company
    Theme URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>


    <div id="breadcrumb">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>Services</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="services">
        <div class="container">
            <h3>Let's get Started!</h3>
            <hr>
            <div class="col-md-2">
                <!-- <img src="images/4.jpg" class="img-responsive"> -->

            </div>

            <div class="col-md-12">
                <div class="media">

                    <div class="media-left">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Enter Your Project     </h4>

                    </div>

                    <div class="media-left">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Select all Items    </h4>

                    </div>

                    <div class="media-left">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Access your account    </h4>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="sub-services">
        <div class="container">
            <div class="col-md-6">

                <div class="media">
                    <ul>
                        <li>
                            <div class="media-left">
                                <!-- <i class="fa fa-pencil"></i> -->
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="menu-header">Menu <i class="fa fa-chevron-down"></i></div>
                <div class="menu-container active">
                    <div class="main-carousel">
                        <div class="carousel-cell main-menu">
                            <ul>
                                <li id="goto-new-permissions">Manage Permissions (New Menu)</li>
                                <li>Manage Metadata</li>
                                <li>Rename</li>
                                <li>Add Project</li>
                                <li>Quick Share</li>
                                <li>Download</li>
                                <li id="goto-delete">Delete (New Menu)</li>
                            </ul>

                        </div>
                        <div class="carousel-cell manage-permissions">
                            <div class="arrow-previous"><i class="fa fa-long-arrow-left"></i></div>
                            <h1>Manage Permissions</h1>
                            <div class="content">
                                <input type="radio" name="permission" id="private" value="private" checked>
                                <label for="private">Private</label>
                                <input type="radio" name="permission" id="public" value="public">
                                <label for="public">Public</label>
                            </div>
                            <a href="#" class="button button-blue">Update</a>

                        </div> <!-- end manage-permissions -->
                        <div class="carousel-cell confirm-delete-item">
                            <div class="arrow-previous-delete"><i class="fa fa-long-arrow-left"></i></div>
                            <h1>Confirm Delete Item</h1>
                            <div class="content"><p>This action is irreversible. To confirm deletion, click the button below.</p></div>
                            <a href="#" class="button button-red">Delete Item</a>
                        </div> <!-- end confirm-delete-item -->
                    </div>

                </div> <!-- end menu-container -->
            </div>

            <div class="col-md-6">

                <a class="btn-primary" href="#">Start</a>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <select class="form-control" name="select1" id="select1">
            <option value="1">Bathroom</option>
            <option value="2">Roof</option>
            <option value="3">Kitchen</option>
            <option value="4">Floor</option>
            <option value="4">Walls</option>
        </select>
    </div>
    <div class="col-xs-6">
        <select class="form-control" name="select2" id="select2" >
            <option value="1">10 X 20</option>
            <option value="1">40 X 30</option>
            <option value="1">30 X 30</option>
            <option value="2">40 X 40</option>
            <option value="2">50 X 40</option>
            <option value="2">40 X 50</option>

        </select>
    </div>

    <script>
        //Reference: https://jsfiddle.net/fwv18zo1/
        var $select1 = $('#select1'),
            $select2 = $('#select2'),
            $options = $select2.find('option');

        $select1.on('change', function () {
            $select2.html($options.filter('[value="' + this.value + '"]'));
        }).trigger('change');

    </script>

    <footer>
        <div class="footer">
            <div class="container">
                <div class="social-icon">
                    <div class="col-md-4">
                        <ul class="social-network">
                            <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-md-offset-4">
                    <div class="copyright">
                        &copy; Company Theme. All Rights Reserved.
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Company
                            -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <a href="#home" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="~/js/site.js"></script>

</body>

</html>
