
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Improvements</title>

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    @*<link href="css/site.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">*@
    @*<link rel="stylesheet" href="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.min.css">*@
    <link href="css/addons-pro/steppers.css" rel="stylesheet">
    <!-- Stepper CSS - minified-->
    <link href="css/addons-pro/steppers.min.css" rel="stylesheet">
</head>

<body>
    <div class="container my-5">
        <!--Section: Content-->
        <section class="dark-grey-text  ">

            <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4">Features</h6>
            <!-- Section heading -->
            <div class="jumbotron hero-nature">
                <h1 class="hero-title">Our Services!</h1>
            </div>

            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="~/images/blog/gallery4.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Save Time!</h5>
                        <p class="card-text">No need to waste time making all the calls. We know your time is precious!</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/images/portfolio/recent/item9.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">All Online!</h5>
                        <p class="card-text">One click and you get the ultimate price.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/images/portfolio/recent/item7.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">THe best consulation!</h5>
                        <p class="card-text">Your home is our work and we take it seriously!</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>

            <!--First row-->

        </section>

    </div>

    @*Attempted Calculator Front End*@
    <a role="presentation" class="btn-primary animation animated-item-3" asp-controller="Home" asp-action="calculator"><b>Calculate Now!</b></a>


    <!-- THis is the Calculator ZONE-->
    <div class="row">
        <div class="col-md-4 col-centered" id="msform">
            <form asp-action="Create">
                <div>
                    <input class="text-black-50" type="text" id="projName" placeholder="Project Name" />
                </div>
                <div class="col-xs-6 d-md-inline">
                    <select class="form-control" name="select1" id="select1">
                        <option value="1">Bathroom</option>
                        <option value="2">Roof</option>
                        <option value="3">Kitchen</option>
                        <option value="4">Floor</option>
                        <option value="4">Walls</option>
                    </select>
                </div>
                <div class="col-xs-6">
                    <select class="form-control" name="select2" id="select2">
                        <option value="1">5 X 8</option>
                        <option value="1">6 X 6</option>
                        <option value="1">5 X 9</option>

                        <option value="2">20 X 40</option>
                        <option value="2">30 X 40</option>
                        <option value="2">40 X 50</option>
                        <option value="2">60 X 70</option>

                        <option value="3">50 X 40</option>
                        <option value="3">40 X 50</option>
                        <option value="4">40 X 40</option>
                        <option value="4">50 X 40</option>
                        <option value="4">40 X 50</option>

                    </select>


                </div>

                <div>

                    <input type="text" id="field1" placeholder="Length" />
                    <input type="text" id="field2" placeholder="Breadth" />
                    <input type="text" id="field3" placeholder="Rise" />
                    <input type="text" id="field4" placeholder="Run" />
                    <input type="text" id="field5" placeholder="Price" />
                    <button id="click" class="btn-outline-primary">Calculate</button>

                    <p id="demo"> </p>

                    <script type="text/javascript">
                        let globalTotal = 0.0; //This variable is me trying to find out why it's not displaying properly.
                        let button = document.getElementById("click");
                        button.addEventListener("click", (event) => {
                            event.preventDefault();
                            finalRoofCalculation();
                        })

                        function finalRoofCalculation(event) {
                            var field1 = document.getElementById("field1").value;
                            var field2 = document.getElementById("field2").value;
                            var field3 = document.getElementById("field3").value;
                            var field4 = document.getElementById("field4").value;
                            var field5 = document.getElementById("field5").value;
                            field1 = parseFloat(field1);
                            field2 = parseFloat(field2);
                            field3 = parseFloat(field3);
                            field4 = parseFloat(field4);
                            field5 = parseFloat(field5);

                            var shingleCoverage = 33.3; //This needs to be set by the user somewhere, or pulled from the database.
                            var roofPitch = parseFloat(1 + Math.sqrt(field3 ^ 2 + field4 ^ 2) / 12);
                            var roofArea = parseFloat(field1 * field2 * roofPitch);
                            var shingleBundles = parseFloat(Math.ceil(roofArea / shingleCoverage));

                            let total = shingleBundles * field5;

                            //console.log(total);
                            let totalBox = document.getElementById("totalBox");
                            totalBox.value = total;
                            console.log(total);
                        }

                    </script>

                    <div id="totalArea">
                        The total should be
                        <input id="totalBox" type="text" />
                    </div>
                </div>




                <div>
                    @*This button should save and send to database*@
                    <button type="submit" class="btn-secondary">Save and Submit</button>
                </div>

            </form>
        </div>
        </div>
   




    @*//< !--This is start of the Pricing-- >*@
    <div class="price">
        <div class="pricing-wrapper clearfix">
            <h1 class="pricing-table-title">Get Started with Premium Features </h1>

            <div class="pricing-table">
                <h3 class="pricing-title">Basic</h3>
                <div class="price">$19.99<sup>/ month</sup></div>
                <ul class="table-list">
                    <li>10  <span>Analytic View</span></li>
                    <li>100+  <span>Projects</span></li>
                    <li>10  <span>Free Consulting</span></li>
                    <li>5  <span>Project Recalls</span></li>
                    <li>10  <span>Discounted Hardware Items </span></li>
                   
                </ul>
                <div class="table-buy">
                    <p>$19.99<sup>/ month</sup></p>
                    <a href="#" class="pricing-action">Buy Now!</a>
                </div>
            </div>

            <div class="pricing-table recommended">
                <h3 class="pricing-title">Premium</h3>
                <div class="price">$39.99<sup>/ month</sup></div>
                 <ul class="table-list">
                    <li>10  <span>Analytic View</span></li>
                    <li>Unlimited  <span>Projects</span></li>
                    <li>100  <span>Free Consulting</span></li>
                    <li>50  <span>Project Recalls</span></li>
                    <li>20  <span>Discounted Hardware Items </span></li>

                </ul>
                <div class="table-buy">
                    <p>$39.99<sup>/ mes</sup></p>
                    <a href="#" class="pricing-action">Buy Now!</a>
                </div>
            </div>

            <div class="pricing-table">
                <h3 class="pricing-title">Ultimate</h3>
                <div class="price">$49.99<sup>/ month</sup></div>
               <ul class="table-list">
                    <li>10  <span>Analytic View</span></li>
                    <li>Unlimited  <span>Projects</span></li>
                    <li>Unlimited  <span>Free Consulting</span></li>
                    <li>50  <span>Project Recalls</span></li>
                    <li>30  <span>Discounted Hardware Items </span></li>

                </ul>
                 <div class="table-buy">
                    <p>$49.99<sup>/ month</sup></p>
                    <a href="#" class="pricing-action">Buy Now!</a>
                </div>
            </div>
        </div>
    </div>
 
    <script>
        var $select1 = $('#select1'),
            $select2 = $('#select2'),
            $options = $select2.find('option');

        $select1.on('change', function () {
            $select2.html($options.filter('[value="' + this.value + '"]'));
        }).trigger('change');

    </script>



    <script type="text/javascript" src="js/addons-pro/stepper.js"></script>
    <!-- Stepper JavaScript - minified -->
    <script type="text/javascript" src="js/addons-pro/stepper.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <script src="jquery-3.1.0.js"></script>
    <script src="js/jquery-migrate.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script type="text/javascript" src="core/js/addons-pro/stepper.min.js"></script>

</body>
</html>
