@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Company-HTML Bootstrap theme</title>

    <!-- Bootstrap -->

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.min.css">
    <!-- =======================================================
      Theme Name: Company
      Theme URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
    <div class="container d-md-inline">

        <div class="services">
            <div class="container">
                <h3>Let's get Started!</h3>
                <hr>
                <div class="col-md-2">
                    <img src="images/4.jpg" class="img-responsive">

                </div>

                <div class="col-md-12">
                    <div class="media">

                        <div class="media-left">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Enter Your Project     </h4>

                        </div>

                        <div class="media-left">
                            <i class="fa fa-book"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Select all Items    </h4>

                        </div>

                        <div class="media-left">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Access your account    </h4>

                        </div>

                    </div>
                </div>
            </div>
        </div>



        <!-- multistep form -->
        
        <div class="container" id="calchtml">
            <form id="msform">
                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active">Add a Project</li>
                    <li>Add Dimensions</li>
                    <li>Final Price</li>
                </ul>
                <!-- fieldsets -->
                <fieldset>
                    <h2 class="fs-title">Add a Project</h2>
                    <h3 class="fs-subtitle">This is step 1</h3>
                    <input type="text" name="email" placeholder="Project Name" />
                    <div class="col-xs-6 d-md-inline">
                        <select class="form-control" name="select1" id="select1">
                            <option value="1">Bathroom</option>
                            <option value="2">Roof</option>
                            <option value="3">Kitchen</option>
                            <option value="4">Floor</option>
                            <option value="4">Walls</option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <select class="form-control" name="select2" id="select2">
                            <option value="1">10 X 20</option>
                            <option value="1">40 X 30</option>
                            <option value="1">30 X 30</option>
                            <option value="2">40 X 40</option>
                            <option value="2">50 X 40</option>
                            <option value="2">40 X 50</option>

                        </select>
                    </div>
                    <input type="button" name="next" class="next action-button" value="Next" />
                    <button class="btn-primary" id="next" onclick="next()"> Next</button>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Add Dimesnions</h2>
                    <h3 class="fs-subtitle">Dimensions of the room?</h3>
                    <input type="text" name="twitter" placeholder="Length" />
                    <input type="text" name="facebook" placeholder="Breadth" />
                    <input type="text" name="gplus" placeholder="Height" />
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="button" name="next" class="next action-button" value="Next" />
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Calculating...</h2>
                    <h3 class="fs-subtitle">We will never sell it</h3>

                    <textarea name="address" placeholder="Calculator Here"></textarea>
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="submit" name="submit" class="submit action-button" value="Submit" />
                </fieldset>
            </form>


        </div>

    </div>
    <script>
        var $select1 = $('#select1'),
            $select2 = $('#select2'),
            $options = $select2.find('option');

        $select1.on('change', function () {
            $select2.html($options.filter('[value="' + this.value + '"]'));
        }).trigger('change');

    </script>


    <script>



        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches

        $(".next").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50) + "%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'transform': 'scale(' + scale + ')',
                        'position': 'absolute'
                    });
                    next_fs.css({ 'left': left, 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".previous").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1 - now) * 50) + "%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({ 'left': left });
                    previous_fs.css({ 'transform': 'scale(' + scale + ')', 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".submit").click(function () {
            return false;
        })

    </script>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.js"></script>

</body>

</html>
