
.col-md-3 {
    display: inline-flex;
    /*max-width: 23%*/
}

.partners {
    display: inline-flex;
    justify-content: space-between;
}

.footer {
    position: fixed;
    max-height: 10%;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1600px;
    }
    .col-md-3{
        max-width: 23%;
    }
}



