@*
    .../Users/Index

*@

@{
    ViewData["Title"] = "Index";
}

<h2>Projects</h2>
<div>
    <button>
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Services">Create a new Project</a>
    </button>
</div>

<br />
<br />
<br />

<div>
    @ViewData["Message"]
</div>

<br />
<br />
<br />
<p> Will Query Database and Display Projects Here - Kyle </p>


